body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(merrrer.png);
}

form {
    
    border: 2px solid black;
}

#onki {
    width: 350px;
    margin-top: 24%;
}

#vene {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
}

.bob {
    position: absolute;

}

#kelanakasvatti {
    margin-top: 30%;
    width: 100%;
    height: 250px;
}

#ahaven {
    position: relative;   /* required for movement */
    transition: transform 0.5s ease;
    margin-top: 35%;
    margin-left: 65%;
    width: 100px;
}